<h1>BlogApp under construction ...</h1>
<div  style="width: 1280px; height: 600px;opacity: 0.4;filter: alpha(opacity=40);position: absolute;left: 0px;top: 0px;z-index: -1;" data-vide-bg="/video/ocean" data-vide-options="loop: true, muted: false, position: 0% 0%">


</div>
