<h1>About me</h1>

<%= image_tag("https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/p160x160/10710769_10152777340609507_1667367011491217644_n.jpg?oh=af3c95f8b464ed7e47d3cc9bb16dca11&oe=55BA6683&__gda__=1437461683_1b584afe6fdad117d7eac30930cac39f", :alt => "my selfie") %>